.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('http://www.planwallpaper.com/static/images/city_of_love-wallpaper-1366x768.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}